<section>
    <div class="container">
    <p class="text left">Sélectionnez votre catégorie* :</p>
    <div class="btnBlock">
        <button [class.active]="todo.isActive" *ngFor="let todo of todos" (click)="btnActive(todo)">
        {{ todo.content }}</button>
    </div>
    <p class="text2 left">Quelle tâche avez vous à effectuer* ?</p>
    <input [(ngModel)]="newTask" 
           [placeholder]="activeTodo ? '' : 'Exemple : Faire les courses'" />
    
    <div class="checkblock">
    <button class ="btnCheck"></button>
    <p>La tâche est urgente ⚠️</p>
    </div>
    <app-button [showPage2Text]="true"></app-button>
    </div>
</section>
