app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
 position: relative;
  top: 80px;
  bottom: 80px;
  width: 100%;
 
}